@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue: hsl(236, 33%, 92%); // Hover
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
$very-dark-grayish-blue: hsl(237, 14%, 26%);

:root {
    --theme-icon: url('/images/icon-moon.svg');
    --font-color: $light-grayish-blue;
    --primary-color: hsl(235, 21%, 11%);
    --secondary-color: hsl(235, 24%, 19%);
    --background-image: url('/images/bg-desktop-dark.jpg');
}

$font-color: var( --font-color );
$primary-color: var( --primary-color );
$secondary-color: var( --secondary-color );
$background-image: var( --background-image );

@mixin flex-box($dir: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    color: $font-color;
    background: $primary-color $background-image no-repeat top / 100%;
    font-size: 18px;
    transition: all 250ms ease-in-out;
    
    .container {
        
        .todo-btn {
            cursor: pointer;
            background-color: transparent;
            border: none;

            &:hover {
                filter: contrast(500%)
            }
        }

        @include flex-box(column);
        width: 70%;
        max-width: 900px;
        gap: 1em;
        margin: 5em auto;

        .todo-header,
        .todo-container,
        .todo-footer {
            width: 100%;
            @include flex-box(row, space-between);
        }

        .todo-header {
            .logo-title-container {
                @include flex-box;
                gap: .75em;

                .todo-logo {
                    width: 48px;
                    height: 48px;
                }
            }

            #btn-theme {
                width: 26px;
                height: 26px;
                background: var( --theme-icon ) no-repeat center;
            }
        }

        .new-todo {
            position: relative;
            width: 100%;

            input#new-todo {
                width: 100%;
                padding: 1.5em;
                padding-right: 4em;
                font-size: 1rem;
                background-color: $secondary-color;
                color: $font-color;
                outline: 0;
                border: 0;
                border-radius: 8px;
            }

            #btn-add-todo {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 20px;
                height: 20px;
                background: transparent url('/images/icon-cross.svg') no-repeat center;
                rotate: 45deg;
                border-radius: 50%;
            }
        }

        .todo-container {
            justify-content: center;

            .todo-items {
                width: 100%;
                padding: 0;
                border-radius: 8px;
                overflow: hidden;

                .todo-item {
                    list-style: none;
                    padding: 1em;
                    @include flex-box(row, space-between);
                    gap: .4em;
                    background-color: $secondary-color;
                    border-bottom: 1px solid hsl(234, 11%, 52%);

                    &.editing {
                        padding: 0 1em;
                        border-bottom: 1px solid hsl(220, 98%, 61%);
                    }

                    label {
                        @include flex-box;
                        gap: .5em;

                        .btn-checkbox {
                            min-width: 20px;
                            min-height: 20px;
                            border-radius: 50%;
                            border: 1px solid $font-color;
                        }
                    }

                    form {
                        width: 100%;

                        input.update-todo {
                            width: 100%;
                            padding: 1.47em 0;
                            font-size: 1rem;
                            background-color: transparent;
                            color: $font-color;
                            outline: 0;
                            border: 0;
                            flex-grow: 1;
                        }
                    }

                    .spacer { flex-grow: 1; }

                    .todo-btn {
                        width: 26px;
                        height: 26px;
                    }
                    
                    .btn-edit-todo {
                        background: url('/images/icon-edit.png') no-repeat center 100%/100%;
                        scale: 0;
                        transition: all 100ms ease-in-out;
                    }

                    .btn-update-todo {
                        background: url('/images/icon-checkmark.svg') no-repeat center 100%/100%;
                        transition: all 100ms ease-in-out;
                    }

                    .btn-delete-todo {
                        float: right;
                        background: url('/images/icon-cross.svg') no-repeat center;
                    }

                    &:hover {
                        .btn-edit-todo {
                            scale: 1;
                        }
                    }

                    &.completed {
                        text-decoration: line-through;
                        color: $dark-grayish-blue;

                        .btn-checkbox {
                            position: relative;
                            border: none;
                            background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                            
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: url('/images/icon-check.svg') no-repeat center;
                                z-index: 1;
                            }
                        }
                    }
                    
                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        .todo-footer {
            position: fixed;
            bottom: 2em;
            padding: 1.25em;
            width: 80%;
            max-width: 900px;
            background-color: $very-dark-blue;
            color: $light-grayish-blue;
            border-radius: 8px;
            font-size: .9rem;
            box-shadow: 0 0 100px -20px hsl(220, 98%, 61%);
            z-index: 1;

            .todo-states {
                @include flex-box;
                gap: 1em;
                padding: 0;
                
                .todo-state {
                    list-style: none;
                    cursor: pointer;
                    text-decoration: none;
                    color: $light-grayish-blue;

                    &.active {
                        color: hsl(220, 98%, 61%);
                        font-weight: 700;
                    }

                    &:hover {
                        color: hsl(192, 100%, 67%);
                    }
                }
            }

            #btn-clear-completed {
                color: hsl(192, 100%, 67%);
                background-color: transparent;
                border: none;
                cursor: pointer;
                
                &:hover {
                    color: hsl(220, 98%, 61%);
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (max-width: 840px) {
    body {
        background-size: cover;
    }
}

@media only screen and (max-width: 540px) {
    body {
        .container {
            width: 85%;

            .todo-footer {
                flex-direction: column;
                gap: 1em;

                .todo-states {
                    padding: .5em;
                    border-top: 1px solid $light-grayish-blue;
                    border-bottom: 1px solid $light-grayish-blue;
                }
            }
        }
    }
}